body, html {
    height: 100%;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
}
.container {
    display: flex;
    height: 100%;
}
.half {
    padding: 35px 60px;
    box-sizing: border-box;
}
/* Optional styling for each half */
.left {
    flex:0.8;
    background-color: #e2ca2e;
    height: 100%;
}
.logo{
    height:50px;
    width:90px;
}
.left-heading{
    color: #433b09;
}
.image{
    height:450px;
    width: 400px;
}
.right {
    flex:2;
}
.inner{
    margin-left:200px;
}
.Login{
    position: absolute;
    margin-top: 0;
    margin-left:650px;
    top: 0 px;
    right: 20px;
}
.right-heading{
    margin-bottom: 70px;
}
.form{
    width: 500px;
    display:flex;
    flex-wrap: wrap;
    font-size: 18px;
}
.username{
    margin-left: 20px;
}
.email{
    margin-top: 20px;
    flex:2;
}
.password{
    margin: 20px 0px;
    flex:2;
}
.name,.password,.username,.email{
    font-weight: bold;
}
.checkbox,.context{
    color:rgb(145, 145, 145);
}
.name1{
    padding: 7px 30px;
    border-radius: 5px;
    border: none;
    background-color:rgb(232, 232, 232);
}
.user{
    padding: 7px 30px;
    border-radius: 5px;
    border: none;
    background-color:rgb(232, 232, 232);
}
.email1{
    padding: 7px 149px;
    border-radius: 5px;
    border: none;
    background-color:rgb(232, 232, 232);
}
.pass{
    padding: 7px 149px;
    border-radius: 5px;
    border: none;
    background-color:rgb(232, 232, 232);
}
.button{
    color: white;
    background-color: rgb(238, 65, 146);
    border: none;
    border-radius: 5px;
    padding:8px 50px;
}
.context{
    font-size:14px;
    width: 320px;
}
.artist{
    text-decoration: underline;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .half {
        flex: none;
        width: 100%;
    }
}
